<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Dashboard</a>
                </li>
                <li><a href="#/campaigns">Campaigns</a>
                </li>
                <li><a href="#/users">Users &amp; Groups</a>
                </li>
                <li><a href="#/templates">Templates</a>
                </li>
                <li><a href="#/settings">Settings</a>
                </li>
                <li><a href="/api/">API Documentation</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="DashboardCtrl">
    <h1 class="page-header">
        Dashboard
    </h1>
    <div ng-show="!campaigns.length">
        <div class="row">
            <div class="alert alert-info">
                No campaigns yet.
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <highchart config="overview_chart"></highchart>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <highchart config="average_chart"></highchart>
            </div>
        </div>
        <div class="row">
            <h2>Recent Campaigns</h2>
        </div>
        <div class="row">
            <a href="#/campaigns"><button type="button" class="btn btn-primary">View All</button></a>
        </div>
        &nbsp;&nbsp;
        <div class="row">
            <table ng-table="mainTableParams" class="table table-hover table-striped table-bordered">
                <tbody>
                    <tr ng-repeat="campaign in $data" class="editable-row">
                        <td data-title="'Created Date'" class="col-sm-1">{{campaign.created_date | date:'medium'}}</td>
                        <td data-title="'Name'" class="col-sm-2">{{campaign.name}}
                            <div class="btn-group" style="float: right;">
                                <button type="button" class="btn btn-primary dropdown-toggle edit-button" data-toggle="dropdown">
                                    <span class="caret" style="border-top-color:#FFFFFF"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" style="left:auto; right:0;" role="menu">
                                    <li><a ng-href="#/campaigns/{{campaign.id}}">View</a>
                                    </li>
                                    <li><a href="/campaigns/{{campaign.id}}/relaunch">Relaunch</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a ng-click="deleteCampaign(campaign)" ng-href="#">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td data-title="'Status'" class="col-sm-1">{{campaign.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
