<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#">Dashboard</a>
                </li>
                <li><a href="#/campaigns">Campaigns</a>
                </li>
                <li><a href="#/users">Users &amp; Groups</a>
                </li>
                <li><a href="#/templates">Templates</a>
                </li>
                <li class="active"><a href="#/settings">Settings</a>
                </li>
                <li><a href="/api/">API Documentation</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="SettingsCtrl">
    <div class="row">
        <h1 class="page-header">Settings</h1>
    </div>
    <div class="row">
        <div ng-repeat="flash in flashes" style="text-align:center" class="alert alert-{{flash.type}}">
            <i class="fa {{flash.icon}}"></i> {{flash.message}}
        </div>
    </div>
    <div class="row">
        <label for="api_key" class="col-sm-2 control-label form-label">API Key:</label>
        <div class="col-md-6">
            <input type="text" id="api_key" onclick="this.select();" value="{{user.api_key}}" class="form-control" readonly/>
        </div>
        <form ng-submit="api_reset()">
            <button class="btn btn-primary"><i class="fa fa-refresh" type="submit"></i> Reset</button>
            <input type="hidden" name="csrf_token" value="{{form_data.csrf_token}}"/>
        </form>
    </div>
    <br />
    <form ng-submit="save_settings()" method="POST">
        <div class="row">
            <label for="username" class="col-sm-2 control-label form-label">Username:</label>
            <div class="col-md-6">
                <input type="text" id="username" class="form-control" ng-model="form_data.username" />
            </div>
        </div>
        <br />
        <div class="row">
            <label for="current_password" class="col-sm-2 control-label form-label">Old Password:</label>
            <div class="col-md-6">
                <input type="password" id="current_password" name="current_password" class="form-control" ng-model="form_data.current_password" />
            </div>
        </div>
        <br />
        <div class="row">
            <label for="new_password" class="col-sm-2 control-label form-label">New Password:</label>
            <div class="col-md-6">
                <input type="password" id="new_password" name="new_password" class="form-control" ng-model="form_data.new_password" />
            </div>
        </div>
        <input type="hidden" name="csrf_token" ng-model="form_data.csrf_token"/>
        <br />
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
    <br/>
</div>
