.nav-tabs {
  cursor:pointer;
}  
  .navbar-logo {
      margin: 4px 0px;
      float: left;
  }
  #navbar-login {
      padding-top:8px;
      padding-bottom:0px;
  }
  #navbar-dropdown {
    margin-top:6px;
    margin-right:15px;
  }
  .sans {
      font-family:'Open Sans', sans-serif !important;
  }
  .form-signin {
      max-width: 400px;
      padding: 15px;
      margin: 40px auto 0px auto;
  }
  ul .dropdown-menu .ng-isolate-scope {
    visibility: visible;
    display:block;
    opacity: 1;
  }
  #login-button{
    padding:10px 15px;
  }
  .form-signin-heading {
      text-align:center;
  }
  .form-signin .form-signin-heading, .form-signin .checkbox {
      margin-bottom: 10px;
  }
  .form-signin .checkbox {
      font-weight: normal;
  }
  .form-signin .form-control {
      font-family:'Open Sans', sans-serif;
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  .form-signin .form-control:focus {
      z-index: 2;
  }
  .form-signin input[type="text"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  #logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  footer > p {
      color:#444444;
      font-family:'Open Sans', sans-serif;
  }
  .header {
      margin-top:10px;
  }
  .sidebar {
      padding-left:0px;
  }
  .sidebar a {
      color:#201e1c;
  }
  .sidebar a:hover {
      color:#201e1c;
  }
  .api_heading {
      font-family:'Open Sans', sans-serif;
      background-color:#201e1c;
      border-radius: 5px;
      padding:10px;
      color:#E2E2E2;
      width:100%;
  }
  p {
      font-size:1.2em;
  }

  .form-label {
    padding-top:7px;
  }

  .hover {
    visibility: visible;
  }

  .edit-button {
    display:none;
  }

  .editable-row:hover .edit-button {
    display : inline-block;
    padding: 3px 6px;
    font-size:9px;
  }

  .remove-row {
    float:right;
    cursor:pointer;
  }

  .pagination {
    margin:0px;
  }

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.dropdown-menu > li > a {
  cursor:pointer;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}