<!-- New Template Modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" ng-hide="newPage" id="pageModalLabel">Edit Page: {{page.name}}</h4>
    <h4 class="modal-title" ng-show="newPage" id="pageModalLabel">New Page</h4>
</div>
<div class="modal-body">
    <form action="/html/preview" method="post" target="_blank">
    <label class="control-label" for="name">Name:</label>
    <div class="form-group">
        <input type="text" class="form-control" ng-model="page.name" placeholder="Page name" id="name" autofocus/>
    </div>
    <!-- Nav tabs -->
    <fieldset disabled>
        <div class="form-group">
            <button class="btn btn-danger btn-disabled"><i class="fa fa-download"></i> Clone Site (Coming Soon!)</button>
        </div>
    </fieldset>
    <tabset>
        <tab heading="HTML">
            <textarea ckeditor="editorOptions" name="html" ng-model="page.html"></textarea>
        </tab>
    </tabset>
    <br />
        <div class="form-group">
            <button type="submit" class="btn btn-danger btn-disabled"><i class="fa fa-external-link-square"></i> Preview in New Window</button>
            <input type="hidden" name="csrf_token" value="{{csrf_token}}"/>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="ok(page)" data-dismiss="modal">Save Page</button>
</div>
