<!-- Import Email Modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Clone Site</h4>
</div>
<div class="modal-body">
    <tabset>
        <tab>
          <tab-heading>
            <span>URL <i class="fa fa-question-circle" tooltip="Input the raw email content, or &quot;source&quot;" tooltip-placement="right"></i></span>
          </tab-heading>
            <input class="form-control" ng-model="url" placeholder="http://www.example.com"></input>
        </tab>
    </tabset>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">Clone</button>
</div>
