<!-- New Template Modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" ng-hide="newTemplate" id="groupModalLabel">Edit Template: {{template.name}}</h4>
    <h4 class="modal-title" ng-show="newTemplate" id="groupModalLabel">New Template</h4>
</div>
<div class="modal-body">
    <label class="control-label" for="name">Name:</label>
    <div class="form-group">
        <input type="text" class="form-control" ng-model="template.name" placeholder="Template name" id="name" autofocus/>
    </div>
    <label class="control-label" for="subject">Subject:</label>
    <div class="form-group">
        <input type="text" class="form-control" ng-model="template.subject" placeholder="Email Subject" id="subject" />
    </div>
    <fieldset disabled>
        <div class="form-group">
            <button class="btn btn-danger btn-disabled"><i class="fa fa-envelope"></i> Import Email (Coming Soon!)</button>
        </div>
    </fieldset>
    <!-- Nav tabs -->
    <tabset>
        <tab heading="Text">
            <textarea rows="10" class="form-control" ng-model="template.text" placeholder="Plaintext"></textarea>
        </tab>
        <tab heading="HTML">
            <textarea rows="10" class="form-control" ng-model="template.html" placeholder="HTML"></textarea>
        </tab>
        <tab heading="Preview">
            <div ng-model="template.html" contenteditable></div>
        </tab>
    </tabset>
    <br />
    <label class="control-label" ng-hide="template.attachments.length == 0">Files:</label>
    <div ng-repeat="file in template.attachments" ng-model="template.attachments">
        <i class="fa fa-file-excel-o" ng-show="file.type == 'application/vnd.ms-excel'"></i>
        <i class="fa fa-file-text-o" ng-show="file.type == 'text/plain'"></i>
        <i class="fa fa-file-image-o" ng-show="file.type == 'image/gif'"></i>
        <i class="fa fa-file-pdf-o" ng-show="file.type == 'application/pdf'"></i>
        <i class="fa fa-file-archive-o" ng-show="file.type == 'application/x-zip-compressed' || file.type == 'application/x-gzip'"></i>
        <i class="fa fa-file-powerpoint-o" ng-show="file.type == 'application/vnd.openxmlformats-officedocument.presentationml.presentation'"></i>
        <i class="fa fa-file-word-o" ng-show="file.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"></i>
        <i class="fa fa-file-o" ng-show="file.type == 'application/octet-stream' || file.type == 'application/x-msdownload'"></i>
        &nbsp;{{file.name}}
        <span ng-click="removeFile(file)" class="remove-row"><i class="fa fa-trash-o"></i>
        </span>
    </div>
    <br/>
    <span class="btn btn-danger btn-file"><i class="fa fa-plus"></i> Add Files
        <input type="file" ng-file-select="onFileSelect($files)" multiple>
    </span>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="ok(template)" data-dismiss="modal">Save Template</button>
</div>
