<!-- New Group Modal -->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title" ng-hide="newGroup" id="groupModalLabel">Edit Group: {{group.name}}</h4>
        <h4 class="modal-title" ng-show="newGroup" id="groupModalLabel">New Group</h4>
    </div>
    <div class="modal-body">
        <label class="control-label" for="name">Name:</label>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="group.name" placeholder="Group name" id="name" autofocus/>
        </div>
        <div class="form-group">
            <span class="btn btn-danger btn-file" tooltip="Supports CSV files" tooltip-placement="right"><i class="fa fa-plus"></i> Bulk Import Users
                <input type="file" ng-file-select="onFileSelect($files)">
            </span>
        </div>
        <label class="control-label" for="users">Users:</label>
        <form ng:submit="addTarget()">
            <div class="input-group">
                <input type="email" class="form-control" placeholder="test@example.com" id="users" ng-model="newTarget.email" />
                <span class="input-group-btn">
                    <button class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                </span>
            </div>
        </form>
        <br />
        <table ng-table="editGroupTableParams" class="table table-hover table-striped table-condensed">
            <tbody>
                <tr ng-repeat="target in $data" class="editable-row">
                    <td>{{target.email}}
                        <span ng-click="removeTarget(target)" class="remove-row"><i class="fa fa-trash-o"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="ok(group)" data-dismiss="modal">Save Group</button>
    </div>
</div>
