/*
 * Globals
 */

/* Links */
li>a,
li>a:focus,
li>a:hover,
a.navbar-brand {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  width: 100%;
  padding-top:40px;
  height: 80px;
  background-color: #fff;
}

.jumbo-wrapper h1 {
  font-size:72px;
  font-weight:100;
  color:#fff;
}

.jumbo-wrapper h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color:#fff;
}

p, h3, h4, h2, h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Center align the text within the three columns below the carousel */
.col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.navbar-dark {
  background-color: #283F50;
  min-height:60px;
}

.jumbo-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 600px;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.download-button {
    font-weight: bold;
}

/*
 * Cover
 */

.cover {
  margin-top:100px;
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.marketing-panel {
  padding-top:60px;
}

.navbar-nav>li>a.btn {
  padding:10px 16px;
}

#particles-js {
  height:100%;
  width:100%;
  z-index:-1;
  position:absolute;
  top:0;
  left:0;
}
.carousel-indicators {
  bottom: -50px;
}
.featurette-image {
	box-shadow: 5px 5px 5px #cccccc;
}
hr {
  margin-top:40px;
  margin-bottom:40px;
}
.gophish-header {
	font-size:52px;
	color: #ffffff;
	text-align:center;
	margin-top:60px;
	margin-bottom:60px;
}
