{{ define "base" }}
<!DOCTYPE html>
<html>

<head>
    <title>Gophish - API Documentation</title>
    <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='/api-doc/css/highlight.default.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='/api-doc/css/screen.css' media='screen' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="/api-doc/lib/shred.bundle.js"></script>
    <script src='/api-doc/lib/jquery-1.8.0.min.js' type='text/javascript'></script>
    <script src='/api-doc/lib/jquery.slideto.min.js' type='text/javascript'></script>
    <script src='/api-doc/lib/jquery.wiggle.min.js' type='text/javascript'></script>
    <script src='/api-doc/lib/jquery.ba-bbq.min.js' type='text/javascript'></script>
    <script src='/api-doc/lib/handlebars-1.0.0.js' type='text/javascript'></script>
    <script src='/api-doc/lib/underscore-min.js' type='text/javascript'></script>
    <script src='/api-doc/lib/backbone-min.js' type='text/javascript'></script>
    <script src='/api-doc/lib/swagger.js' type='text/javascript'></script>
    <script src='/api-doc/swagger-ui.min.js' type='text/javascript'></script>
    <script src='/api-doc/lib/highlight.7.3.pack.js' type='text/javascript'></script>
    <style>
    #header {
        background-color: #201e1c;
    }
    #header form#api_selector .input a#explore {
        background-color: #3276b1;
        border-color: #285e8e;
    }
    #header a#logo {
        font-family:'Open Sans', sans-serif;
        padding-left: 0;

    }
    </style>
    <script type="text/javascript">
    $(function() {
        window.swaggerUi = new SwaggerUi({
            url: "/api-doc/api-docs",
            dom_id: "swagger-ui-container",
            supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
            onComplete: function(swaggerApi, swaggerUi) {
                if (console) {
                    console.log("Loaded SwaggerUI")
                }
                $('pre code').each(function(i, e) {
                    hljs.highlightBlock(e)
                });
            },
            onFailure: function(data) {
                if (console) {
                    console.log("Unable to Load SwaggerUI");
                    console.log(data);
                }
            },
            docExpansion: "none"
        });

        $('#input_apiKey').change(function() {
            var key = $('#input_apiKey')[0].value;
            console.log("key: " + key);
            if (key && key.trim() != "") {
                console.log("added key " + key);
                window.authorizations.add("key", new ApiKeyAuthorization("api_key", key, "query"));
            }
        })
        window.swaggerUi.load();
    });
    </script>
</head>

<body>
    <div id='header'>
        <div class="swagger-ui-wrap">
            <a id="logo" href="/">gophish api</a>
            <form id='api_selector'>
                <div class='input'>
                    <input placeholder="api_key" id="input_apiKey" name="apiKey" type="text" />
                </div>
            </form>
        </div>
    </div>

    <div id="message-bar" class="swagger-ui-wrap">
        &nbsp;
    </div>

    <div id="swagger-ui-container" class="swagger-ui-wrap">

    </div>

</body>

</html>
{{end}}