{{% define "base" %}}
<!DOCTYPE html>
<html lang="en" ng-app="gophish">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Gophish - {{% .Title %}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    {{%if .User%}}
    <script>var API_KEY = {{%.User.ApiKey%}}</script>
    {{%end%}}
</head>

<body>
    {{% template "content" . %}}
    <!-- Footer -->
    <div class="container">
        <hr>
        <footer>
            <p>&copy; Jordan (<a href="https://github.com/jordan-wright">jordan-wright</a>) 2014</p>
        </footer>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="/js/ui-bootstrap-0.10.0.min.js"></script>
    <script src="/js/ng-resource.min.js"></script>
    <script src="/js/ng-table.min.js"></script>
    <script src="/js/app/gophish.js"></script>
</body>

</html>
{{% end %}}
