{{define "content"}} {{template "nav"}}
<div class="jumbotron">
    <div class="container" style="text-align:center;">
        <h1 class="header">
            Dashboard
        </h1>
    </div>
</div>
<div class="container">
    <div class="col-md-3 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Dashboard</a>
            </li>
            <li><a href="/users">Users &amp; Groups</a>
            </li>
            <li><a href="/settings">Settings</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        Testing
    </div>
</div>
<div class="container">
    <hr>
    <footer>
        <p>&copy; Jordan (jordan-wright) 2013</p>
    </footer>
</div>
{{end}}
