{{% define "content" %}} {{% template "nav" .User %}}
<div class="jumbotron">
    <div class="container" style="text-align:center;">
        <h1 class="sans header">
            Dashboard
        </h1>
    </div>
</div>
<div class="container">
    <div class="col-md-3 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Dashboard</a>
            </li>
            <li><a href="/users">Users &amp; Groups</a>
            </li>
            <li><a href="/settings">Settings</a>
            </li>
            <li><a href="/api/">API Documentation</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9" ng-controller="CampaignCtrl">
        <div class="row">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCampaignModal"><i class="fa fa-plus"></i> New Campaign</button>
        </div>
        &nbsp;
        <div class="row">
            <table ng-table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-1">Date</th>
                        <th class="col-sm-2">Name</th>
                        <th class="col-sm-1">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="campaign in campaigns" class="editable-row">
                        <td>{{campaign.created_date | date:'medium'}}</td>
                        <td>{{campaign.name}}
                            <div class="btn-group" style="float: right;">
                                <button type="button" class="btn btn-primary dropdown-toggle edit-button" data-toggle="dropdown">
                                    <span class="caret" style="border-top-color:#FFFFFF"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" style="left:auto; right:0;" role="menu">
                                    <li><a ng-href="/campaigns/{{campaign.id}}">View</a>
                                    </li>
                                    <li><a href="/campaigns/{{campaign.id}}/relaunch">Relaunch</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="/campaigns/{{campaign.id}}/delete">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>{{campaign.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- New Campaign Modal -->
<div class="modal" id="newCampaignModal" tabindex="-1" role="dialog" aria-labelledby="campaignModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="campaignModalLabel">New Campaign</h4>
            </div>
            <form action="/">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name">
                        <label for="users">Users &amp; Groups:</label>
                        <input type="text" class="form-control" id="users">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" type="submit">Launch Campaign</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{% end %}}
