{{define "body"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/">Dashboard</a>
                </li>
                <li><a href="/campaigns">Campaigns</a>
                </li>
                <li><a href="/users">Users &amp; Groups</a>
                </li>
                <li><a href="/templates">Email Templates</a>
                </li>
                <li class="active"><a href="#/landing_pages">Landing Pages</a>
                </li>
                <li><a href="/settings">Settings</a>
                </li>
                <li><a href="/api/">API Documentation</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">
        Landing Pages
    </h1>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" ng-click="editPage('new')" data-toggle="modal" data-target="#newLandingPageModal"><i class="fa fa-plus"></i> New Page</button>
    </div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div style="display:none;">
        <div class="row">
            <div class="alert alert-info">
                No pages created yet. Let's create one!
            </div>
        </div>
    </div>
    <div class="row">
        <table id="pagesTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Modified Date</th>
                    <th class="col-md-2"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{{end}}
{{define "scripts"}}
<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/ckeditor/adapters/jquery.js"></script>
{{end}}
