{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">
        Landing Pages
    </h1>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" onclick="edit(-1)" data-toggle="modal" data-backdrop="static"
            data-target="#modal"><i class="fa fa-plus"></i> New Page</button>
    </div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            No pages created yet. Let's create one!
        </div>
    </div>
    <div class="row">
        <table id="pagesTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Modified Date</th>
                    <th class="col-md-2 no-sort"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Template Modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="dismiss()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">New Landing Page</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <label class="control-label" for="name">Name:</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Page name" id="name" autofocus />
                </div>
                <div class="form-group">
                    <button class="btn btn-danger" data-toggle="modal" data-backdrop="static" data-target="#importSiteModal"><i
                            class="fa fa-globe"></i>
                        Import Site</button>
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active" role="html"><a href="#html" aria-controls="html" role="tab" data-toggle="tab">HTML</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="html">
                        <textarea id="html_editor"></textarea>
                    </div>
                </div>
                <div class="checkbox checkbox-primary">
                    <input id="capture_credentials_checkbox" type="checkbox">
                    <label for="capture_credentials_checkbox">Capture Submitted Data <i class="fa fa-question-circle"
                            data-toggle="tooltip" data-placement="right" title="If the landing page contains a form, submitted input (except passwords!) will be captured."></i></label>
                </div>
                <div class="checkbox checkbox-primary" id="capture_passwords">
                    <input id="capture_passwords_checkbox" type="checkbox">
                    <label for="capture_passwords_checkbox">Capture Passwords</label>
                    <div class="alert alert-warning">
                        <i class="fa fa-exclamation-circle"></i> <b>Warning:</b> Credentials are currently <b>not
                            encrypted</b>. This means that captured passwords are stored in the database as cleartext.
                        Be careful with this!
                    </div>
                </div>
                <div id="redirect_url">
                    <label class="control-label" for="redirect_url_input">Redirect to: <i class="fa fa-question-circle"
                            data-toggle="tooltip" data-placement="right" title="This option lets you redirect the user to a page after credentials are submitted."></i></label>
                    <div class="form-group">
                        <input id="redirect_url_input" class="form-control" placeholder="http://example.com" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default" onclick="dismiss()">Cancel</button>
                <button type="button" class="btn btn-primary" id="modalSubmit">Save Page</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="importSiteModal" tabindex="-1" role="dialog" aria-labelledby="importSiteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Template Modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importSiteModalLabel">Import Site</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <label class="control-label" for="url">URL:</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="http://google.com" id="url" autofocus />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button type="button" class="btn btn-primary" id="modalSubmit" onclick="importSite()">Import</button>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "scripts"}}
<script src="/js/src/vendor/ckeditor/ckeditor.js"></script>
<script src="/js/src/vendor/ckeditor/adapters/jquery.js"></script>
<script src="/js/dist/app/autocomplete.min.js"></script>
<script src="/js/dist/app/landing_pages.min.js"></script>
{{end}}