{{%define "content"%}}
<div class="container">
    <form class="form-signin" action="/register" method="POST">
        <img id="logo" src="/images/logo.png" />
        <h2 class="form-signin-heading">Please register below</h2>
        {{%template "flashes" .Flashes%}}
        <input type="text" name="username" class="form-control" placeholder="Username" required autofocus/>
        <input type="password" name="password" class="form-control" placeholder="Password" required/>
        <input type="hidden" name="csrf_token" value={{%.Token%}}/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
{{%end%}}
