{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gophish - Open-Source Phishing Toolkit">
    <meta name="author" content="Jordan Wright (http://github.com/jordan-wright)">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Gophish - {{ .Title }}</title>

    <link href="/css/dist/gophish.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700' rel='stylesheet'
        type='text/css'>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-logo" src="/images/logo_inv_small.png" />
                <a class="navbar-brand" href="/">&nbsp;gophish</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="btn-group" id="navbar-dropdown">
                            <a class="btn btn-primary" href="/logout"><i class="fa fa-user"></i> {{.User.Username}}</a>
                            <a class="btn btn-primary dropdown-toggle" href="/logout">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <form class="form-signin" action="" method="POST">
            <img id="logo" src="/images/logo_purple.png" />
            <h2 class="form-signin-heading">Reset Your Password</h2>
            {{template "flashes" .Flashes}}
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                autocomplete="off" minlength="8" required autofocus>
            <div class="" id="password-strength-container">
                <div class="progress" id="password-strength">
                    <div id="password-strength-bar" class="progress-bar" role="progressbar" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span id="password-strength-description"></span>
            </div>
            <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password"
                autocomplete="off" minlength="8" required>
            <input type="hidden" name="csrf_token" value="{{.Token}}" />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save Password</button>
        </form>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/dist/app/passwords.min.js"></script>
    <script src="/js/dist/vendor.min.js"></script>
</body>

</html>
{{ end }}