{{define "body"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#">Dashboard</a>
                </li>
                <li><a href="/campaigns">Campaigns</a>
                </li>
                <li><a href="/users">Users &amp; Groups</a>
                </li>
                <li class="active"><a href="#/templates">Email Templates</a>
                </li>
                <li><a href="/landing_pages">Landing Pages</a>
                </li>
                <li><a href="/settings">Settings</a>
                </li>
                <li><a href="/api/">API Documentation</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">
            Email Templates
        </h1>
    </div>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" onclick="edit('new')" data-toggle="modal" data-target="#modal"><i class="fa fa-plus"></i> New Template</button>
    </div>
    &nbsp;
    <div id="emptyMessage" class="row">
        <div class="alert alert-info">
            No templates created yet. Let's create one!
        </div>
    </div>
    <div class="row">
        <table id="templateTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Modified Date</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- <div ng-show="templates.length" class="row">
        <table ng-table="mainTableParams" class="table table-hover table-striped table-bordered">
            <tbody>
                <tr ng-repeat="template in $data | orderBy: '-modified_date'" class="editable-row">
                    <td data-title="'Name'" sortable="'name'" class="col-sm-2">template.name
                        <div class="btn-group" style="float: right;">
                            <button type="button" class="btn btn-primary dropdown-toggle edit-button" data-toggle="dropdown">
                                <span class="caret" style="border-top-color:#FFFFFF"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" style="left:auto; right:0;" role="menu">
                                <li><a ng-click="editTemplate(template)">Edit</a>
                                </li>
                                <li class="divider"></li>
                                <li><a ng-click="deleteTemplate(template)">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td data-title="'Modified Date'" class="col-sm-1">template.modified_date | date:'medium'</td>
                </tr>
            </tbody>
        </table>
    </div> -->
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <!-- New Template Modal -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="templateModalLabel">New Template</h4>
        </div>
        <div class="modal-body">
            <div class="row" id="modal.flashes"></div>
            <label class="control-label" for="name">Name:</label>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="template.name" placeholder="Template name" id="name" autofocus/>
            </div>
            <div class="form-group">
                <button class="btn btn-danger btn-disabled" ng-click="importEmail()"><i class="fa fa-envelope"></i> Import Email (Coming Soon!)</button>
            </div>
            <label class="control-label" for="subject">Subject:</label>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="template.subject" placeholder="Email Subject" id="subject" />
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="text"><a href="#text" aria-controls="text" role="tab" data-toggle="tab">Text</a></li>
                <li role="html"><a href="#html" aria-controls="html" role="tab" data-toggle="tab">HTML</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="text">
                    <textarea rows="10" class="form-control" placeholder="Plaintext"></textarea>
                </div>
                <div role="tabpanel" class="tab-pane" id="html">
                    <textarea id="html_editor"></textarea>
                </div>
            </div>
            <br />
            <label class="control-label" ng-hide="template.attachments.length == 0">Files:</label>
            <div ng-repeat="file in template.attachments" ng-model="template.attachments">
                <i class="fa fa-file-excel-o" ng-show="file.type == 'application/vnd.ms-excel'"></i>
                <i class="fa fa-file-text-o" ng-show="file.type == 'text/plain'"></i>
                <i class="fa fa-file-image-o" ng-show="file.type == 'image/gif'"></i>
                <i class="fa fa-file-pdf-o" ng-show="file.type == 'application/pdf'"></i>
                <i class="fa fa-file-archive-o" ng-show="file.type == 'application/x-zip-compressed' || file.type == 'application/x-gzip'"></i>
                <i class="fa fa-file-powerpoint-o" ng-show="file.type == 'application/vnd.openxmlformats-officedocument.presentationml.presentation'"></i>
                <i class="fa fa-file-word-o" ng-show="file.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"></i>
                <i class="fa fa-file-o" ng-show="file.type == 'application/octet-stream' || file.type == 'application/x-msdownload'"></i>
                &nbsp;file.name
                <span onclick="removeFile(file)" class="remove-row"><i class="fa fa-trash-o"></i>
                </span>
            </div>
            <br/>
            <span class="btn btn-danger btn-file"><i class="fa fa-plus"></i> Add Files
                <input type="file" multiple>
            </span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="save()" data-dismiss="modal">Save Template</button>
        </div>
    </div>
</div>
{{end}}
{{define "scripts"}}
<script src="/js/app/templates.js"></script>
{{end}}
