{{%define "content"%}} {{%template "nav"%}}
<div class="jumbotron">
    <div class="container" style="text-align:center;">
        <h1 class="sans header">
            Users &amp; Groups
        </h1>
    </div>
</div>
<div class="container">
    <div class="col-md-3 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/">Dashboard</a>
            </li>
            <li class="active"><a href="/users">Users &amp; Groups</a>
            </li>
            <li><a href="/settings">Settings</a>
            </li>
            <li><a href="/api/doc">API Documentation</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9 sans">
        <h1 style="margin-top:0px"><i class="fa fa-gear"></i> Gophish API</h1>
        <p>Gophish runs on top of a RESTful API which allows developers to automate phishing campaigns easily. The following documentation and examples demonstrate the API functionality</p>
        <h2 class="api_heading">/api/campaigns</h2>
        <p>Test.</p>
    </div>
</div>
{{%end%}}

