{{%define "content"%}} {{%template "nav" .User %}}
<div class="jumbotron">
    <div class="container" style="text-align:center;">
        <h1 class="sans header">
            Users &amp; Groups
        </h1>
    </div>
</div>
<div class="container">
    <div class="col-md-3 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/">Dashboard</a>
            </li>
            <li class="active"><a href="/users">Users &amp; Groups</a>
            </li>
            <li><a href="/settings">Settings</a>
            </li>
            <li><a href="/api/">API Documentation</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9" ng-controller="GroupCtrl">
        <div class="row">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newGroupModal"><i class="fa fa-plus"></i> New Group</button>
        </div>
        &nbsp;
        <div class="row">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-1">Name</th>
                        <th class="col-sm-2">Members</th>
                        <th class="col-sm-1">Modified Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="group in groups">
                        <td>{{group.name}}</td>
                        <td><span ng-repeat="target in group.targets">
                        {{target.email}}{{$last ? '' : ', '}}
                        </span></td>
                        <td>{{group.modified_date | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- New Campaign Modal -->
<div class="modal" id="newGroupModal" tabindex="-1" role="dialog" aria-labelledby="groupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="groupModalLabel">New Group</h4>
            </div>
            <form action="/">
                <div class="modal-body">
                    <label class="control-label" for="name">Name:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Group name" id="name" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger"><i class="fa fa-plus"></i> Bulk Import Users</button>
                    </div>
                    <label class="control-label" for="users">Users:</label>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="test@example.com" id="users" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" type="submit">Save Group</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{%end%}}
