{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">
        {{.Title}}
    </h1>
    <div id="flashes" class="row"></div>
    &nbsp;
    <!-- TODO - loading -->

    <div class="row">
        <label for="title" class="col-sm-2 control-label form-label">Title:</label>
        <div class="col-md-6">
            <input type="text" id="title" onclick="this.select();" value="title1"
                class="form-control" />
        </div>
    </div>

    <div class="row">
        <label for="secret" class="col-sm-2 control-label form-label">Secret:</label>
        <div class="col-md-6">
            <input type="text" id="secret" onclick="this.select();" value="fdsfdsfdsafds"
                class="form-control" />
        </div>
    </div>

    <div class="row">
        <label for="url" class="col-sm-2 control-label form-label">Url:</label>
        <div class="col-md-6">
            <input type="text" id="url" onclick="this.select();" value="https://example.com/test1"
                class="form-control" />
        </div>
        <form id="apiPingForm">
            <button class="btn btn-primary"><i class="fa fa-refresh" type="submit"></i> Ping</button>
            <input type="hidden" name="csrf_token" value="{{.Token}}" />
        </form>
    </div>

    <input type="hidden" name="csrf_token" value="{{.Token}}" />
    <br />
    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save</button>
</div>
{{end}} {{define "scripts"}}
<!-- TODO replace with "min" -->
<script src="/js/src/app/webhooks.js"></script>
{{end}}